@model web_app.ViewModels.IndexViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">User Posts: @Model.Posts.Count</h1>
    @foreach(var post in Model.Posts.Take(5)) {
        <hr>
        <h5>@post.title</h5>
        <p>@post.body</p>
    }
</div>
